* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    background: #11c8ac;
    display: flex;
    align-items: center;
}

.cover {
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    transition: opacity 0.25s linear;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.show-cover {
    opacity: 1;
    z-index: 99;
}

.pop {
    width: 280px;
    min-height: 150px;
    padding: 16px;
    background: #fff;
    border-radius: 14px;
    transition: all 0.25s linear;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.show-pop {
    opacity: 1;
    top: 32%;
    z-index: 100;
}

.detail {
    color: #000;
    text-align: center;
    margin-bottom: 16px;
}

.detail>div,
.plz-config {
    margin-bottom: 14px;
    font-size: 14px;
}

.detail .this-time {
    margin-bottom: 0;
}

.err-msg {
    display: inline-block;
    width: 70%;
}

.btn {
    width: 80%;
    border-radius: 8px;
    padding: 6px 0;
    background: linear-gradient(to right bottom, #44f2d8, #32b29e);
}

.wrap-btn {
    width: 86%;
    display: flex;
    justify-content: space-around;
}

.wrap-btn>.btn {
    width: 42%;
    text-align: center;
}

.reduce,
.add {
    padding: 0 4px;
    color: #fff;
    background: linear-gradient(to right bottom, #32b29e, #44f2d8);
    display: inline-block;
}

#time {
    display: inline-block;
    width: 52px;
    text-align: center;
}

#content {
    width: 320px;
    height: 568px;
    background: #11c8ac;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

#title {
    font-size: 26px;
}

#bg-img>img {
    width: 210px;
    height: 180px;
}

#ipt-phone,
#ipt-pwd {
    padding: 6px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

#ipt-phone>img,
#ipt-pwd>img {
    width: 26px;
    height: 30px;
    margin-right: 12px;
}

input {
    font-size: 18px;
    color: #fff;
    background: none;
    outline: none;
    border: 0px;
}

input::-webkit-input-placeholder {
    color: #fff;
}

#back {
    height: 40px;
    line-height: 28px;
    color: #11c8ac;
    background: #fff;
    border-radius: 8px;
}

#submit {
    height: 40px;
    line-height: 28px;
    background: #6bedd9;
    border-radius: 8px;
}